# dev 环境，部署在服务器的时候，就要设置为 production
# 当 NODE_ENV === production && APP_DEPLOYMENT === prod 才是真正的 production 环境
NODE_ENV=

# For: swagger tag / modules to load
# define: types/helper.ts#AppInstanceEnum
APP_INSTANCE=Admin
# APP_INSTANCE toUpperCase + '_APP_PORT'
ADMIN_APP_PORT=
H5_APP_PORT=

# 不同应用的启动配置
# APP_INSTANCE toUpperCase + '_API_PREFIX'
ADMIN_API_PREFIX=
H5_API_PREFIX=

# APP_INSTANCE toUpperCase + '_APP_PORT'
ADMIN_JWT_SECRET=
H5_JWT_SECRET=

# For: deployment env, e.g. dev prod xxx
# xxx can be any string value
# every backend developer should have own xxx value
# this will be append before pulsar topic name
# Note: !!! important !!! only 'prod' will pay the real amount,
# others will only pay 0.01 for any order
APP_DEPLOYMENT=

# @see https://www.prisma.io/docs/orm/overview/databases/mysql#connection-url
# mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
# delete or empty for none-auth redis
REDIS_PASS=
